h1 {
	color: #7A163C;
	font-weight: 500;
	font-size: 50px;
	margin-top: 0%;
}

h3 {
	color: #7A163C;
}

h6 {
	color: #7A163C;
	font-size: 12px;
	margin-top: 10.25%;
}

textarea{
	border: 1px solid #7A163C;
	font-family: "Times New Roman", Times, serif;
}

img {
	margin-top: 0.37%;
	border: 1px solid #7A163C;
	left: 10.25%;
	position: absolute;
}

/*form{
	visibility: hidden;
}*/

#text{
	width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.732%;
	overflow: scroll;
	font-size: 15px;
	color: yellow;
	background-color: #F06E9C;
	opacity: 0.5;
}

#input{
	margin-left: 22%;
	margin-top: 0.37%;
	width: 20%;
	height: 13%;
	position: absolute;
}

#delete{
	margin-left: 66%;
	margin-top: 0.37%;
	width: 22%;
	height: 13%;
	position: absolute;
}

#sendBtn{
	margin-left: 22%;
	margin-top: 7.7%;
	position: absolute;
}

#editBtn{
	margin-left: 44%;
	margin-top: 7.7%;
	position: absolute;
}

#delBtn{
	margin-left: 66%;
	margin-top: 7.7%;
	position: absolute;
}

#edit1{
	margin-left: 44%;
	margin-top: 0.37%;
	width: 20%;
	height: 6%;
	position: absolute;
}

#edit2{
	margin-left: 44%;
	margin-top: 4.02%;
	width: 20%;
	height: 6%;
	position: absolute;
}

#greenL{
	border: 1px solid #FEF8A0;
	position: absolute;
}

#redL{
	border: 1px solid #FEF8A0;
	margin-left: 3.66%;
	position: absolute;
}