h1 {
	color: #7A163C;
	font-weight: 500;
	font-size: 50px;
	margin-top: 0%;
}

h3 {
	position: absolute;
	margin-top: 0%;
	margin-left: 45%;
	color: #7A163C;
}

h6 {
	color: #7A163C;
	font-size: 12px;
	margin-top: 10.25%;
	background-color: #EEEEEE;
}

textarea {
	border: 1px solid #7A163C;
	font-family: "Times New Roman", Times, serif;
}

img {
	margin-top: 0.37%;
	border: 1px solid #7A163C;
	left: 10.25%;
	position: absolute;
}

.form-inline{
	position: absolute;
	margin-top: 2%;
}

#form1{
	margin-left: 37%;
}

#form2{
	visibility: hidden;
	margin-left: 42%;
}

.history{
	margin-top: 6%;
	margin-right: 10%;
	margin-left: 10%;
    font-size: 20px;
    color: black;
	background-color: #F06E9C;
	opacity: 0.5;
	overflow: scroll;
}

.history .userMessage:hover{
	background: #f3bd48;
    color: #fff;
}

#inputMsg{
	margin-left: 22%;
	margin-top: 0.37%;
	width: 20%;
	height: 13%;
	position: absolute;
}

#sendBtn{
	margin-left: 22%;
	margin-top: 6.5%;
	position: absolute;
}

#greenLamp{
	border: 1px solid #FEF8A0;
	position: absolute;
}

#redLamp{
	border: 1px solid #FEF8A0;
	margin-left: 3.66%;
	position: absolute;
}